<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你问我答</title>
</head>
<body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jsencrypt 加密插件-->
<script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.2.1/jsencrypt.min.js"></script>
<!--http 请求插件-->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>

<dev id="app">
    <h2>欢迎您 <label style="color: hotpink;"> {{name}} </label> 随便说点什么吧~~</h2>
    <dev id="dev1">
        <el-input id="content"
                  type="textarea"
                  :rows="2"
                  placeholder="说点什么吧"
                  v-model="content">
        </el-input>
        <el-button type="primary" :loading="sendStatus" @click="send()">发送</el-button>
    </dev>
    <dev id="dev4">
        <el-input id="result"
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 4}"
                  placeholder="结果...."
                  v-model="outContent">
        </el-input>
    </dev>

</dev>

<style type="text/css">

    #content {
        width: 500px;
    }

    #result {
        width: 500px;
    }

</style>

<script type="application/javascript">
    new Vue({
        el: '#app',
        data: {
            content: '',
            outContent: '',
            sendStatus: false,
            name: ''
        },
        mounted: function () {
            //只需要转一次码
            this.name = decodeURI(this.getData("name"));
        },
        methods: {
            send: function () {
                if (this.content == "" || this.content == undefined) {
                    alert("请输入问题")
                    return;
                }
                var that = this;
                that.sendStatus = true
                var url = "http://localhost:8089/chat/send";
                axios.post(url, {
                    content: this.content,
                    name: this.name
                }).then(function (response) {
                    var data = response.data
                    console.log(data)
                    if (data.code == 200) {
                        console.log(data.data)
                        that.outContent = data.data
                        that.sendStatus = false
                    } else {
                        that.sendStatus = false
                        alert(data.message)
                    }
                })
                    .catch(function (error) {
                        that.sendStatus = false
                        console.log(error);
                    });
            },
            getData: function (name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r != null) return unescape(r[2]);
                return null; //返回参数值
            }
        }
    });


</script>

</body>
</html>