<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>模拟登录</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        el-input {
            width: 200px;
        }

        #div1 {
            width: 200px;
        }
    </style>
</head>
<body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.2.1/jsencrypt.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>

<div id="app">
    <div id="div1">
        <label>账号：</label>
        <el-input v-model="account" placeholder="请输入账号"></el-input>
        <label>密码：</label>
        <el-input v-model="pwd" placeholder="请输入密码" show-password></el-input>
        <el-button type="primary" @click="login()">登录</el-button>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            rsaPublicKey: 'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCA716Gp8ZjAw9G5D4/EPQJ2RIo6hi4LrrvIUmv0VCDzdSHOYPr6065KMJb60APEz+pi3wY4DQmVe90Sdp8waY3i/ar9+PJ67UYVuVWLOuo/F7NoEEGzKX4cyhncPRBDxHA6TomsFjX1hUKj2+nwBIXHUCOiqGHuvRC4vHS7jknawIDAQAB',
            account: '',
            pwd: ''
        },
        methods: {
            login: function () {
                var data = {
                    account: this.account,
                    pwd: this.pwd
                };
                var cipher = this.encryptByPublicKey(JSON.stringify(data));
                if (!cipher) {
                    return;
                }

                axios.post('http://localhost:8089/user/login', {
                    encryptedData: cipher
                }).then(function (response) {
                    var data = response.data;
                    if (data.code == 200) {
                        var param = '?token=' + data.data.token + '&name=' + encodeURI(encodeURI(data.data.name));
                        window.location.href = 'success' + param;
                    } else {
                        alert(data.message);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            encryptByPublicKey: function (val) {
                if (!val) {
                    return '';
                }

                var publicKey = '-----BEGIN PUBLIC KEY-----\n' + this.rsaPublicKey + '\n-----END PUBLIC KEY-----';
                var encryptor = new JSEncrypt();
                encryptor.setPublicKey(publicKey);

                var chunks = this.splitByUtf8Bytes(val, 117);
                var encryptedBinary = '';
                for (var i = 0; i < chunks.length; i++) {
                    var encryptedChunk = encryptor.encrypt(chunks[i]);
                    if (!encryptedChunk) {
                        alert('登录数据加密失败');
                        return '';
                    }
                    encryptedBinary += atob(encryptedChunk);
                }
                return btoa(encryptedBinary);
            },
            splitByUtf8Bytes: function (val, maxBytes) {
                var chunks = [];
                var chunk = '';
                var chunkBytes = 0;

                for (var i = 0; i < val.length; i++) {
                    var char = val.charAt(i);
                    var charBytes = new Blob([char]).size;
                    if (chunkBytes + charBytes > maxBytes) {
                        chunks.push(chunk);
                        chunk = '';
                        chunkBytes = 0;
                    }
                    chunk += char;
                    chunkBytes += charBytes;
                }

                if (chunk) {
                    chunks.push(chunk);
                }
                return chunks;
            }
        }
    });
</script>
</body>
</html>
